<!DOCTYPE html>
{% load static %}

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Projet Covid</title>
    <link type="text/css" rel="stylesheet" href="{% static 'home/css/materialize.min.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'home/css/styles.css' %}" media="screen"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="#" />
    {% block styles %}{% endblock %}
</head>
<body>
    <header>
      <nav class="blue-grey">
        <div class="navbar-fixed ">
            <div class="nav-wrapper blue-grey">
                <a href="{% url 'home:index' %}" class="brand-logo  center">
                    <img src="{% static 'home/logo_covid.png' %}" width = 55px height=55px alt="logo">
                    Projet Covid</a>
            </div>
        </div>
      </nav>
    </header>

    <main>
        {% block body %}{% endblock %}
    </main>

    <footer class="page-footer grey darken-1">
        <div class="footer-copyright">
            <div class="container">
                Constans Adelin - Gomez Malaurie
          <a class="grey-text text-lighten-4 right" href="http://cazabetremy.fr/wiki/doku.php?id=projet:lifprojet">lifprojet</a>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="{% static 'home/js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/js/map.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/js/chart.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/js/app.js' %}"></script>
    {% block script %} {% endblock %}


</body>
</html>
