{% extends 'home/base.html' %}

{% block body %}
    <nav>
        <div class="nav-wrapper blue-grey lighten-1">
            <div class="col s12">
                <a href="{% url 'home:index' %}" class="breadcrumb">Home</a>
                <a href="{% url 'home:pays' pays %}" class="breadcrumb">{{ pays }}</a>
                {% if nbSousCateg > 0 %}
                    <a href="{% url 'home:province' pays prov %}" class="breadcrumb">{{ prov }}</a>
                {% endif %}
                {% if nbSousCateg > 1 %}
                        <a href="#" class="breadcrumb">{{ com }}</a>
                    {% endif %}
                </div>
        </div>
    </nav>

    <h3 id="titre"> {{ com }} </h3>
    <div id="container">
        <div class="card-panel teal lighten-3 white-text " id="latlong">
            <h5> Coordonnées</h5>
            <ul>
                <li>Latitude : {{ Latitude }}</li>
                <li>Longitude : {{ Longitude }}</li>
            </ul>
        </div>


        <div class="card-panel teal lighten-3 white-text" id="stats">
            <h5> Données du {{ Date }}</h5>
            <ul>
                <li>Nombre de déces : {{ Deaths }}</li>
                <li>Nombre de cas confirmés : {{ Confirmed }}</li>
                <li>Nombre de guérris : {{ Recovered }}</li>
                <li>Nombre de cas actifs : {{ Active }}</li>
                <li>Taux d'incidence : {{ Incidence_Rate }}</li>
                <li>Taux de mortalité : {{ Case_Fatality_Ratio }}</li>
            </ul>
        </div>
    </div>

{% endblock %}