{% extends 'home/base.html' %}
{% load static %}

{% block styles %}
     <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script type="text/javascript" src="{% static 'home/js/datamaps.world.min.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    {{ dicoPaysDeaths|json_script:"pays-deaths" }}
    {{ dicoException|json_script:"exception" }}
    {{ listeDate|json_script:"listeDate" }}
    {{ listeDeath|json_script:"listeDeath" }}
    {{ listeIR|json_script:"listeIR" }}

    <style>
        .active { fill: blue !important;}
        /*.datamaps-key dt, .datamaps-key dd {float: none !important;}
        .datamaps-key {right: -50px; top: 0;}*/
    </style>
{% endblock %}


{% block body %}
<div id="container">
    <div class="card-panel grey lighten-3" id="nav">
        <h4> Pays </h4>
        {% for pays in listePays %}
            <a href = "{% url 'home:pays' pays %}"> {{ pays }} </a>
            <br/>
        {% endfor %}
    </div>

    <div id="donnees">
        <div id="container2">

            <div class="card" id="map">
                <div class="card-content" id="cardMap">
                  <div id="containerMap" style="position:relative; width: 1000px; height: 600px;"></div>
                </div>
                <div class="card-tabs">
                  <ul class="tabs tabs-fixed-width" id="tabs">
                    <li class="tab"><a id="map1" class="active" href="tabs">Morts </a></li>
                    <li class="tab"><a id="map2" href="tabs">Cas actifs</a></li>
                    <li class="tab"><a id="map3" href="tabs">Taux d'incidence</a></li>
                    <li class="tab"><a id="map4" href="tabs">Taux de mortalité</a></li>
                  </ul>
                </div>
            </div>

            <div id="break"></div>

            <div class="card-panel teal lighten-3 white-text card small" id="statG">
                <h5> Données du {{ Date }}</h5>
                <ul>
                    <li>Nombre de déces : {{ Deaths }}</li>
                    <li>Nombre de cas confirmés : {{ Confirmed }}</li>
                    <li>Nombre de guérris : {{ Recovered }}</li>
                    <li>Nombre de cas actifs : {{ Active }}</li>
                    <li>Taux d'incidence : {{ Incidence_Rate }}</li>
                    <li>Taux de mortalité : {{ Case_Fatality_Ratio }}</li>
                </ul>
            </div>

            <div id="qqchose" class="card small">
                <canvas id="chartDeath"></canvas>
            </div>
            <div id="qqchose" class="card small">
                <canvas id="chartIR"></canvas>
            </div>
            <div id="qqchose">
            </div>


        </div>
    </div>

        <br/><br/>


</div>
{% endblock %}
