{% extends 'home/base.html' %}

{% block body %}
    <nav>
        <div class="nav-wrapper blue-grey lighten-1">
            <div class="col s12">
                <a href="{% url 'home:index' %}" class="breadcrumb">Home</a>
                <a href="{% url 'home:pays' pays %}" class="breadcrumb">{{ pays }}</a>
                <a href="#" class="breadcrumb">{{ prov }}</a>
            </div>
        </div>
    </nav>


    <div id="container">
        <div class="card-panel grey lighten-3" id="nav">
            <h3> {{ prov }} </h3>
            {% for com in listeCom %}
                <a href = "{% url 'home:comte' pays prov com %}"> {{ com }} </a>
                <br/>
            {% endfor %}
        </div>

        <div id="body">
            <div id="container">
                <div class="col s3" id="stats">
                    <div class="card-panel teal lighten-3 white-text card small" id="stats">
                        <br/> <br/>
                        <h5> Données du {{ Date }}</h5>
                        <ul>
                            <li>Nombre de déces : {{ Deaths }}</li>
                            <li>Nombre de cas confirmés : {{ Confirmed }}</li>
                            <li>Nombre de guérris : {{ Recovered }}</li>
                            <li>Nombre de cas actifs : {{ Active }}</li>
                            <li>Taux d'incidence : {{ Incidence_Rate }}</li>
                            <li>Taux de mortalité : {{ Case_Fatality_Ratio }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}