body {
display: flex;
min-height: 100vh;
flex-direction: column;
}

main {
flex: 1 0 auto;
}

#container{
    margin-top: 0px;
    display: flex;
}

#container2{
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

#containerMap{
    display: block;
    vertical-align: middle;
    margin: 0 auto;
    max-width:100%;
}

#nav{
    flex-grow: 1;
    text-align: left;
    margin: 10px;
    flex-grow: 1;
    padding: 10px;
    overflow: auto;
    max-height : 100vh;
    min-width: 150px;
}

#body{
    flex-grow: 8;
    min-height: 100%;
    box-sizing: border-box
}

#donnees{
    flex-grow: 8;
}

.break {
  flex-basis: 100%;
  height: 0;
}

#map{
    flex-grow: 8;
    flex-basis: 100%;
    min-margin: 20px;
    padding: 1px;
    max-width: 80%;
    max-height: 100%;
}

div#cardmap.card-content{
    margin: 0 auto;
}

svg{
    display: block;
    margin: 0 auto;
}

g{
    margin:0px;
}

#break{
    width:100%;
}

#statG{
    flex-grow: 1;
    min-padding: 10px;
    max-width: 300px;
}

#qqchose{
    flex-grow: 1;
    margin: 10px;
    max-width:600px;
}

chartIR{
    max-width:600px;
    max-height:300px;
}

#titre{
   padding: 10px;
}

#latlong{
    flex-grow: 1;
    margin-left: 10px;
    padding: 0px;
    padding: 10px;
    max-width: 300px;
}

#stats{
    flex-grow: 1;
    margin-left: 10px;
    padding: 0px;
    padding: 10px;
    max-width: 300px;
}

.page-footer{
   left: 0;
   bottom: 0;
   width: 100%;
}

